# 리스트 메서드

In [12]:
a = [1, 2, 3]

# len() 함수로 리스트에 저장된 데이터의 개수를 얻어온다.
print(len(a))
print('=' * 80)

# append() 메서드로 리스트의 맨 뒤에 데이터를 추가한다.
print(a)
a.append(4)
print(a)
print('=' * 80)

# insert(인덱스, 데이터) 메서드로 리스트의 특정 인덱스 위치에 데이터를 삽입한다.
a.insert(1, 5)
print(a)
print('=' * 80)

# insert() 메서드와 len() 함수를 사용해서 append() 메서드 효과내기
a.insert(-1, 999)
print(a)
a.insert(len(a), 777)
print(a)

3
================================================================================
[1, 2, 3]
[1, 2, 3, 4]
================================================================================
[1, 5, 2, 3, 4]
================================================================================
[1, 5, 2, 3, 999, 4]
[1, 5, 2, 3, 999, 4, 777]

In [17]:
# sort() 메서드로 리스트에 저장된 데이터를 별도의 설정이 없으면 오름차순(문자열은 가나다 순)으로 정렬한다.
a = [1, 5, 2, 3, 6, 4]
print(a)
a.sort()
print(a)
print('=' * 80)

b = ['1', '010', '999', '50']
print(b)
b.sort()
print(b)
print('=' * 80)

c = ['d', 'b', 'a', 'c']
print(c)
c.sort()
print(c)
print('=' * 80)

d = ['홍길동', '임꺽정', '장길산', '일지매']
print(d)
d.sort()
print(d)
print('=' * 80)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
================================================================================
['1', '010', '999', '50']
['010', '1', '50', '999']
================================================================================
['d', 'b', 'a', 'c']
['a', 'b', 'c', 'd']
================================================================================
['홍길동', '임꺽정', '장길산', '일지매']
['일지매', '임꺽정', '장길산', '홍길동']
================================================================================

In [19]:
# sort() 메서드에 reverse=True 옵션을 지정하면 내림차순(문자는 다나가 순)으로 정렬한다.
a = [1, 5, 2, 3, 6, 4]
print(a)
a.sort(reverse=True)
print(a)
print('=' * 80)

[1, 5, 2, 3, 6, 4]
[6, 5, 4, 3, 2, 1]
================================================================================

In [21]:
# reverse=True 옵션은 오름차순으로 정렬하고 reverse() 메서드로 순서를 반전시킨 것과 동일하다.
a = [1, 5, 2, 3, 6, 4]
print(a)
a.sort()
print(a)
a.reverse()
print(a)
print('=' * 80)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
================================================================================

In [23]:
# reverse=True 옵션은 [::-1]로 슬라이싱한 결과와 동일하다.
a = [1, 5, 2, 3, 6, 4]
print(a)
a.sort()
print(a)
print(a[::-1])

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [25]:
# 정렬할 데이터가 저장된 리스트에 서로 다른 데이터 타입이 존재하면 에러가 발생한다.
a = [1, 'a', 2, 'b']
a.sort()    # TypeError

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
# count() 메서드로 리스트의 데이터 요소 중에서 특정 데이터의 출현 횟수(개수)를 얻어올 수 있다.
a = [1, 2, 3, 1, 3, 1, 4, 1, 5]
print(a.count(1))
print(a.count(6))

4
0

In [31]:
# index() 메서드로 리스트의 데이터 요소 중에서 특정 데이터가 최초로 출현하는 인덱스 값을 얻어올 수 있다.
a = [1, 2, 3, 1, 3, 1, 4, 1, 5]
print(a.index(3))

# 매개변수로 지정한 데이터가 리스트에 없으면 에러가 발생한다.
# print(a.index(6))   # ValueError

2

In [36]:
# remove() 메서드로 매개변수로 지정한 첫 번째 데이터를 리스트에서 제거한다.
a = [1, 2, 3, 4, 5, 3]
print(a)
a.remove(3) # 맨 처음 데이터 제거
print(a)
a.remove(3) # 그 다음 데이터 제거
print(a)
# a.remove(3) # ValueError: 리스트에 존재하지 않는 데이터 제거 시도

[1, 2, 3, 4, 5, 3]
[1, 2, 4, 5, 3]
[1, 2, 4, 5]

In [42]:
# pop() 메서드는 별도의 설정이 없으면 리스트의 맨 마지막 데이터를 제거한다.
a = [1, 2, 3, 4, 5, 3]
print(a)
a.pop()
print(a)
a.pop()
print(a)

# pop() 메서드에 삭제할 인덱스를 매개변수로 지정하면 지정한 인덱스 위치의 데이터가 제거된다.
a.pop(0)
print(a)
# a.pop(3)    # IndexError: 삭제 시도한 데이터가 리스트의 범위를 벗어남

[1, 2, 3, 4, 5, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[2, 3, 4]

In [47]:
# remove() 메서드는 리스트의 데이터를 제거만 하지만, pop() 메서드는 데이터를 제거하기 전에 제거할 데이터를 얻어온 후 제거한다.
a = [1, 2, 3, 4, 5, 3]
print(a)
print(a.remove(3))  # None: remove()는 return이 없다!
print(a)
print(a.pop())
print(a)

[1, 2, 3, 4, 5, 3]
None
[1, 2, 4, 5, 3]
3
[1, 2, 4, 5]

In [51]:
# 두 기억장소에 저장된 데이터를 교환한다.
a = 3
b = 4
print('a = {}, b = {}'.format(a, b))

# 모든 언어에서 공통적으로 사용할 수 있는 방법
temp = a
a = b
b = temp
print('a = {}, b = {}'.format(a, b))

# 파이썬에서만 사용할 수 있는 방법 - 리스트 사용
[a, b] = [b, a]
print('a = {}, b = {}'.format(a, b))

# 파이썬에서만 사용할 수 있는 방법 - 튜플 사용
(a, b) = (b, a)
print('a = {}, b = {}'.format(a, b))
a, b = b, a
print('a = {}, b = {}'.format(a, b))

a = 3, b = 4
a = 4, b = 3
a = 3, b = 4
a = 4, b = 3
a = 3, b = 4