In [3]:
import warnings

import pandas as pd
# !pip install seaborn
import seaborn as sns  # matplotlib을 확장한 시각화 라이브러리

warnings.filterwarnings('ignore')

# 자료형 변환하기

In [4]:
# seaborn 라이브러리가 제공하는 tips 데이터를 사용한다.
# load_dataset() 메서드를 사용해서 seaborn이 제공하는 데이터 셋을 읽어 데이터프레임으로 얻어올 수 있다.
# seaborn이 제공하는 데이터 종류는 https://github.com/mwaskom/seaborn-data 사이트를 참조한다.
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
# pandas의 category 자료형은 R의 factor와 같은 범주형 데이터를 의미한다. → 연산을 위한 데이터가 아닌 분류를 위한 데이터이다.
# pandas의 object는 문자형 데이터를 의미한다.
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

astype() 메서드로 자료형을 변경할 수 있다.

In [8]:
# time 열의 데이터를 astype() 메서드를 이용해서 category 타입을 문자열(object)로 변환해서 time_str이라는 새로운 열을 만들어 저장한다.
tips['time_str'] = tips['time'].astype(str)
tips.dtypes

<class 'pandas.core.series.Series'>

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
time_str        object
dtype: object

In [7]:
tips.head()

   total_bill   tip     sex smoker  day    time  size time_str
0       16.99  1.01  Female     No  Sun  Dinner     2   Dinner
1       10.34  1.66    Male     No  Sun  Dinner     3   Dinner
2       21.01  3.50    Male     No  Sun  Dinner     3   Dinner
3       23.68  3.31    Male     No  Sun  Dinner     2   Dinner
4       24.59  3.61  Female     No  Sun  Dinner     4   Dinner

# 잘못 입력한 문자열 처리하기

In [9]:
tips_sub_miss = tips.head(10)
tips_sub_miss

   total_bill   tip     sex smoker  day    time  size time_str
0       16.99  1.01  Female     No  Sun  Dinner     2   Dinner
1       10.34  1.66    Male     No  Sun  Dinner     3   Dinner
2       21.01  3.50    Male     No  Sun  Dinner     3   Dinner
3       23.68  3.31    Male     No  Sun  Dinner     2   Dinner
4       24.59  3.61  Female     No  Sun  Dinner     4   Dinner
5       25.29  4.71    Male     No  Sun  Dinner     4   Dinner
6        8.77  2.00    Male     No  Sun  Dinner     2   Dinner
7       26.88  3.12    Male     No  Sun  Dinner     4   Dinner
8       15.04  1.96    Male     No  Sun  Dinner     2   Dinner
9       14.78  3.23    Male     No  Sun  Dinner     2   Dinner

In [10]:
tips_sub_miss.loc[[1, 3, 5, 7], 'total_bill'] = 'missing'  # 데이터를 의도적으로 망가뜨림
tips_sub_miss

  total_bill   tip     sex smoker  day    time  size time_str
0      16.99  1.01  Female     No  Sun  Dinner     2   Dinner
1    missing  1.66    Male     No  Sun  Dinner     3   Dinner
2      21.01  3.50    Male     No  Sun  Dinner     3   Dinner
3    missing  3.31    Male     No  Sun  Dinner     2   Dinner
4      24.59  3.61  Female     No  Sun  Dinner     4   Dinner
5    missing  4.71    Male     No  Sun  Dinner     4   Dinner
6       8.77  2.00    Male     No  Sun  Dinner     2   Dinner
7    missing  3.12    Male     No  Sun  Dinner     4   Dinner
8      15.04  1.96    Male     No  Sun  Dinner     2   Dinner
9      14.78  3.23    Male     No  Sun  Dinner     2   Dinner

In [11]:
tips_sub_miss.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
time_str        object
dtype: object

In [12]:
# tips_sub_miss 데이터프레임의 total_bill 열을 astype()을 사용해서 실수로 변환하려면 'missing'이라는 문자열 때문에 에러가 발생한다.
tips_sub_miss['total_bill'] = tips_sub_miss['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

In [13]:
# pandas의 to_numeric() 메서드를 사용해도 문자열을 실수로 변경할 수 없다.
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'])

ValueError: Unable to parse string "missing" at position 1

In [14]:
# to_numeric() 메서드의 errors 속성을 사용하면 오류를 일부 제어할 수 있다.
# errors 속성을 지정하지 않으면 errors='raise'가 기본값으로 사용되며 숫자로 변환할 수 없는 값이 있으면 에러를 발생시킨다.
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='raise')

ValueError: Unable to parse string "missing" at position 1

In [15]:
# errors='ignore' 속성을 지정하면 오류 발생시 메서드 실행을 무시한다.
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='ignore')
tips_sub_miss

  total_bill   tip     sex smoker  day    time  size time_str
0      16.99  1.01  Female     No  Sun  Dinner     2   Dinner
1    missing  1.66    Male     No  Sun  Dinner     3   Dinner
2      21.01  3.50    Male     No  Sun  Dinner     3   Dinner
3    missing  3.31    Male     No  Sun  Dinner     2   Dinner
4      24.59  3.61  Female     No  Sun  Dinner     4   Dinner
5    missing  4.71    Male     No  Sun  Dinner     4   Dinner
6       8.77  2.00    Male     No  Sun  Dinner     2   Dinner
7    missing  3.12    Male     No  Sun  Dinner     4   Dinner
8      15.04  1.96    Male     No  Sun  Dinner     2   Dinner
9      14.78  3.23    Male     No  Sun  Dinner     2   Dinner

In [16]:
# errors='coerce' 속성을 지정하면 데이터를 누락값(NaN)으로 변경한다.
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='coerce')
tips_sub_miss

   total_bill   tip     sex smoker  day    time  size time_str
0       16.99  1.01  Female     No  Sun  Dinner     2   Dinner
1         NaN  1.66    Male     No  Sun  Dinner     3   Dinner
2       21.01  3.50    Male     No  Sun  Dinner     3   Dinner
3         NaN  3.31    Male     No  Sun  Dinner     2   Dinner
4       24.59  3.61  Female     No  Sun  Dinner     4   Dinner
5         NaN  4.71    Male     No  Sun  Dinner     4   Dinner
6        8.77  2.00    Male     No  Sun  Dinner     2   Dinner
7         NaN  3.12    Male     No  Sun  Dinner     4   Dinner
8       15.04  1.96    Male     No  Sun  Dinner     2   Dinner
9       14.78  3.23    Male     No  Sun  Dinner     2   Dinner